@font-face {
  font-family: "SF Pro Text";
  src: url("../../fonts/SF-Pro-Text-Ultralight.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../../fonts/SF-Pro-Text-Regular.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../../fonts/SF-Pro-Text-Light.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../../fonts/SF-Pro-Text-Medium.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

