<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__column">
        <div class="footer__column__top">
          <a href="/" class="text-light text-40px font-bedas">
            <span class="text-primary">BUSINESS</span>COACH.COM
          </a>
          <div class="footer__social">
            <a href="https://www.facebook.com/BusinessCoachDotCom/">{{> ../partials/icons/facebook}}</a>
            <a href="https://www.instagram.com/thebusiness.coach/">{{> ../partials/icons/insta}}</a>
            <a href="https://twitter.com/CoachGaryHenson">{{> ../partials/icons/twitter}}</a>
            <a href="https://www.linkedin.com/in/garyhenson">{{> ../partials/icons/linked}}</a>
          </div>
          <div class="footer__image mobile">
            <img src="https://github.com/split-dev/bcc-new/blob/main/public/images/certificates.png?raw=true" alt="#">
          </div>
        </div>

        <div class="footer__narrow">
          <p class="text-light">© Copyright 2020 - BusinessCoach.com - All Rights Reserved. 2025 Hurley Way, Suite 111, Sacramento, CA, 95825, United States.</p>
          <a href="tel:916-922-7766" class="d-block text-light text-underline">916-922-7766</a>
          <div class="footer__links-wrapper">
            <a href="mailto:info@businesscoach.com" class="text-light">info@businesscoach.com</a>
            <a href="/privacy-policy" class="text-light text-underline">Privacy Policy</a>
          </div>
        </div>
      </div>

      <div class="footer__column">
        <div class="footer__image desktop">
          <img src="https://github.com/split-dev/bcc-new/blob/main/public/images/certificates.png?raw=true" alt="#">
        </div>
      </div>
    </div>
  </div>
</footer>
