<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="/" class="font-bedas text-32px text-light">
        <span class="text-primary">BUSINESS</span>COACH.COM
      </a>
      <nav class="header__nav">
        {{#each link}}
        <a href="{{url}}" class="header__link text-light">{{title}}</a>
        {{/each}}
      </nav>
    </div>
  </div>
</header>
