<section class="cta section bg-dark">
  <div class="container">
    <h2 class="text-light text-40px text-center">
      Want to learn more about business coaching? <br> Do you have any questions you want to ask?
    </h2>
    <p class="text-light text-center">Contact the coach and clarify all details.</p>
    <div class="cta__button flex-center">
      <a href="/contact-us" class="button-primary cta__button-single">Contact now</a>
    </div>
  </div>
</section>
