<section class="cta section bg-dark">
  <div class="container">
    <div class="cta__wrapper">
      <div class="cta__block bg-semi-gray text-center">
        <h2 class="cta__title font-bedas text-light"><span class="text-primary">BUSINESS</span>COACH.COM</h2>
        <p class="cta__description font-medium text-20px">Transforming businesses <br> and lives since 1989</p>
      </div>
      <div class="cta__block bg-gray">
        <a href="/contact-us" class="button-primary cta__button-single">Start Now</a>
      </div>
    </div>
  </div>
</section>
