<section class="graph section bg-dark text-light text-center">
  <div class="container">
    <h2 class="text-40px">Transformation creates openings that replace blind spots or barriers</h2>

    <div class="graph__image">
      <img class="d-none d-md-block" src="https://github.com/split-dev/bcc-new/blob/main/public/images/graph-desk.png?raw=true" alt="#">
      <img class="d-md-none" src="https://github.com/split-dev/bcc-new/blob/main/public/images/graph-mob.png?raw=true" alt="#">
      <div class="absolute-center">
        <div class="position-relative">
          <p class="text-1 text-light text-right text-20px">What you don’t know <br> you don’t know</p>
          <p class="text-2 text-light text-20px">What you know</p>
          <p class="text-3 text-light text-20px">What you don’t know</p>
        </div>
      </div>
    </div>

    <p>Leaders tend to run their business out of long standing habits or emotions as opposed to creating new possibilities or inventing a new future.</p>
    {{> ../partials/dots}}
    <p>Coaches can see new possibilities by being objective and bringing a focus to areas that would otherwise be unavailable (or missing) to their clients.</p>
    {{> ../partials/dots}}
  </div>
</section>
