<section class="hero" style="background-image: url('https://raw.githubusercontent.com/split-dev/bcc-new/d69644bb50b72f7713ef5dddfe680d777bdb0d89/public/images/hero%402x.png')">
  <div class="hero__container">
    <div class="hero__inner text-light">
      <div class="hero__content">
        <h1>Business Coaching for Business Owners & Leaders</h1>
        <p>We enlighten and empower <br> businesses to make their dreams a reality!</p>
      </div>
      <a href="/contact-us" class="button-primary">Contact Now</a>
    </div>
  </div>
</section>
