<section class="info-block section bg-dark">
  <div class="hero__container">
    <div class="hero__inner text-light">
      <div class="hero__content">
        <h2 class="text-32px font-regular">Hire a Business Coach today and <br> transform your business and your life!</h2>
        <p>A Business Coach partners with you to:</p>
        <ul>
          <li><p>Define your vision and your goals</p></li>
          <li><p>Demonstrate the obstacles that prevent success</p></li>
          <li><p>Dismantle those obstacles to transform your vision into reality!</p></li>
        </ul>
      </div>
      <a href="/contact-us" class="button-primary info-block__btn">Contact Now</a>
    </div>
  </div>
</section>
