<section class="quotes bg-dark">
  <div class="container">
    <div class="quotes__wrapper text-light">
      <div class="quotes__single with-flag bg-semi-gray">
        <span class="quotes__flag font-bedas bg-primary">BCC</span>
        <p>
          Organizations are often held back by their own limited perspectives, inflexible positions and self-imposed constraints, that prevent them from producing bottom line results and achieving success.
        </p>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <div class="quotes__single bg-gray">
        <p>
          Business Coaching is designed to create an environment for an organization or an individual to break free of limitations to reach their full potential and achieve the success they have always envisioned.
        </p>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>
</section>
