<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../partials/head }}
</head>
<body>
  <main class="main bg-dark">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap&text=BUSINESSCOACH.COM" rel="stylesheet">
<!--    <link href="https://businesscoach.vercel.app/styles/main.css" rel="stylesheet">-->
    {{> ../layout/header}}

    {{> ../sections/hero}}
    {{> ../sections/quotes}}
    {{> ../sections/info}}
    {{> ../sections/graph}}
    {{> ../sections/cta}}
    {{> ../sections/cta-2}}

    {{> ../layout/footer}}
  </main>
</body>
</html>
